In [22]:
%matplotlib inline

In [23]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
# Read csv file to Data Frame
nyc_data = pd.read_csv("Data/nyc_sales_redux.csv")
nyc_data.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,7/19/2017 0:00
1,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,9/23/2016 0:00
2,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,11/17/2016 0:00
3,10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,...,8,0,8,1750,4226,1920,2,C4,3192840,9/23/2016 0:00
4,13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,...,24,0,24,4489,18523,1920,2,D9,16232000,11/7/2016 0:00

In [25]:
#Francis: let's find out the code classification of our Bourough, so we can provided it with a name. Here, we can also see the number of of borough we have

nyc_data["BOROUGH"].value_counts()

4    18441
3    15690
1    14439
5     6011
2     5178
Name: BOROUGH, dtype: int64

In [26]:
#Francis: now that we know the code of our Borough, let's assign each number to its Borough
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 1] = 'Manhatten'
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 2] = 'Bronx'
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 3] = 'Brooklyn'
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 4] = 'Queens'
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 5] = 'Staten Island'
nyc_data.head()

C:\Users\francis\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,Manhatten,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,7/19/2017 0:00
1,7,Manhatten,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,9/23/2016 0:00
2,8,Manhatten,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,11/17/2016 0:00
3,10,Manhatten,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,...,8,0,8,1750,4226,1920,2,C4,3192840,9/23/2016 0:00
4,13,Manhatten,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,...,24,0,24,4489,18523,1920,2,D9,16232000,11/7/2016 0:00

In [27]:
#francis: Let's create a data frame and select the coloumn that we only want to work with. 
nyc_info= nyc_data.loc[:,["BOROUGH","LAND SQUARE FEET","GROSS SQUARE FEET","SALE PRICE","YEAR BUILT","TAX CLASS AT TIME OF SALE"]]
nyc_info.head(11)

,BOROUGH,LAND SQUARE FEET,GROSS SQUARE FEET,SALE PRICE,YEAR BUILT,TAX CLASS AT TIME OF SALE
0,Manhatten,1633,6440,6625000,1900,2
1,Manhatten,2272,6794,3936272,1913,2
2,Manhatten,2369,4615,8000000,1900,2
3,Manhatten,1750,4226,3192840,1920,2
4,Manhatten,4489,18523,16232000,1920,2
5,Manhatten,3717,12350,10350000,2009,2
6,Manhatten,-,-,1,1920,2
7,Manhatten,-,-,499000,1920,2
8,Manhatten,-,-,10,1920,2
9,Manhatten,-,-,529500,1920,2
10,Manhatten,-,-,423000,1920,2