In [1]:
%matplotlib inline

In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Read csv file to Data Frame
nyc_data = pd.read_csv("Data/nyc-rolling-sales.csv")
nyc_data.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [4]:
#Francis: let's find out the code classification of our Bourough, so we can provided it with a name. Here, we can also see the number of of borough we have

nyc_data["BOROUGH"].value_counts()

4    26736
3    24047
1    18306
5     8410
2     7049
Name: BOROUGH, dtype: int64

In [5]:
#Francis: now that we know the code of our Borough, let's assign each number to its Borough
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 1] = 'Manhatten'
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 2] = 'Bronx'
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 3] = 'Brooklyn'
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 4] = 'Queens'
nyc_data['BOROUGH'][nyc_data['BOROUGH'] == 5] = 'Staten Island'
nyc_data.head()

C:\Users\Huda\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,Manhatten,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,Manhatten,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,Manhatten,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,Manhatten,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,Manhatten,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [6]:
#francis: Let's create a data frame and select the coloumn that we only want to work with. 
nyc_info= nyc_data.loc[:,["BOROUGH","LAND SQUARE FEET","GROSS SQUARE FEET","SALE PRICE","YEAR BUILT","TAX CLASS AT TIME OF SALE"]]
nyc_info.head(11)

,BOROUGH,LAND SQUARE FEET,GROSS SQUARE FEET,SALE PRICE,YEAR BUILT,TAX CLASS AT TIME OF SALE
0,Manhatten,1633,6440,6625000,1900,2
1,Manhatten,4616,18690,-,1900,2
2,Manhatten,2212,7803,-,1900,2
3,Manhatten,2272,6794,3936272,1913,2
4,Manhatten,2369,4615,8000000,1900,2
5,Manhatten,2581,9730,-,1900,2
6,Manhatten,1750,4226,3192840,1920,2
7,Manhatten,5163,21007,-,1900,2
8,Manhatten,1534,9198,-,1920,2
9,Manhatten,4489,18523,16232000,1920,2
10,Manhatten,4295,21328,-,1910,2

None

1. Challenge: I can't figure out how to remove the "-" from the table. Should we update to NULL value before uploading it
2. If we consider ourself a builder company, do we care if the property was sold for 1$. I don't think we need to remove those data.